@import 'framework'
@import 'mixins'

.designpage
  section
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAJ0lEQVQYV2NkIAL8///fh5EIdT5AhQwjW6EPnmDaAg5HEEFEWDIAAMpwIeUVm8uYAAAAAElFTkSuQmCC')
    min-height: 20em

