mixin topnav
  h3!= locals.title
  ul(role='list')
    li
      span Level
      span 99
    li
      span Batting
      span 293
    li
      span Running
      span 286
    li
      span Fielding
      span 322
    li
      span Rarity
      span Super Star
    li
      span 1st Position
      span LF
    li
      span 2st Position
      span CF
    li
      .progress
        div(style='width:50%')
      span 99%